/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  body{
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.6;
  }
  
  .container{
    max-width: 700px;
    margin: 0 auto 50px;
    text-align: center;
    padding: 0 10px;
  }
  
  h1, h2, h3{
      font-weight: 400;
      line-height: 1.6;
  }
  
  h1{
      font-size: 28px;
  }
  
  h2{
      font-size: 24px;
  }
  
  h3{
      font-size: 20px;
  }
  
  a{
    color: #357b70;
  }
  
  a:visited {
    color: #04565c;
  }
  
  a:hover, a:focus{
    text-decoration: none;
  }
  
  a:active {
    color: #04565c;
  }
  
  .button:visited{
    color: #fff;
  }
  
  button{
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color:#357b70;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition:  0.5s opacity;
    transition:  0.5s opacity;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
  
  .button{
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color:#357b70;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition:  0.5s opacity;
    transition:  0.5s opacity;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
  
  button:hover{ 
    opacity: 0.8;
    color: #fff;
  }
  
  button:focus{ 
    opacity: 0.8;
    color: #fff;
  }
  
  .button:hover{ 
    opacity: 0.8;
    color: #fff;
  }
  
  .button:focus{ 
    opacity: 0.8;
    color: #fff;
  }
  
  /* ******** HEADER ********** */
  
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;
    position: relative;
  }
  
  .logo img{
    width: 100%;
    vertical-align: top;
  }
  
  .logo {
    width: 200px;
  }
  
  .nav-list{
    padding: 0;
  }
  
  .nav-list li{
    display: inline-block;
    margin-left: 15px;
    list-style: none;
  }
  
  .nav-list a {
    position: relative;
    text-decoration: none;
  }
  
  .nav-list a::after{
      content: '';
      position: absolute;
      height: 1px;
      background-color: #357b70;
      top: 18px;
      left: 50%;
      right: 50%;
      -webkit-transition: 0.3s;
      transition: 0.3s;
  }
  
  .nav-list a:hover::after, 
  .nav-list a:focus::after{
      left: 0px;
      right: 0px;
  }
  
  /* ////////////// BURGER MENU ///////////////////// */
  
  .menuToggle{
    display: none;
    width: 33px;
    height: 27px;
  }
  
  .menu-opener{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 33px;
    height: 27px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  
  .menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: #357b70;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  .menuToggle span:first-child{
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  
  .menuToggle span:nth-child(3){
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  
  .menu-opener:checked + .menuToggle span:first-child{
    -webkit-transform: rotate(45deg) translate(1px, -2px);
            transform: rotate(45deg) translate(1px, -2px);
  }
  
  .menu-opener:checked + .menuToggle span:nth-child(2){
    opacity: 0;
  }
  
  .menu-opener:checked + .menuToggle span:nth-child(3){
    -webkit-transform: rotate(-45deg) translate(-1px, 4px);
            transform: rotate(-45deg) translate(-1px, 4px);
  }
  
  .menu-opener:checked ~ .nav .nav-list{
    -webkit-transform: none;
            transform: none;
  }
  
  /* ******** HOME PAGE ********** */
  
  .profile-holder{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    margin-bottom: 30px;
  }
  
  .img-holder{
    width: 220px;
    margin-right: 40px;
  }
  
  .img-holder img{
    width: 100%;
    vertical-align: top;
    border-radius: 50%;
  }
  
  .text-holder span{
    background-color: #2b2b2b;
    color: #e0b354;
    padding: 0 5px;
  }
  
  /* ******** ABOUT PAGE ********** */
  
  .skills-info-table{
    margin: 0 auto 30px;
    text-align: left;
  }
  
  .skills-info-table td{
    padding: 7px 10px;
  }
  
  .skills-info-table th{
    padding: 7px 10px;
  }
  
  @-webkit-keyframes flight {
    0%{
      -webkit-transform: translate(-300px, 0);
              transform: translate(-300px, 0);
    }
  
    50% {
      -webkit-transform: translate(600px, 150px);
              transform: translate(600px, 150px);
    }
    100% {
      -webkit-transform: translate(2100px, 200px);
              transform: translate(2100px, 200px);
    }
  }
  
  @keyframes flight {
    0%{
      -webkit-transform: translate(-300px, 0);
              transform: translate(-300px, 0);
    }
  
    50% {
      -webkit-transform: translate(600px, 150px);
              transform: translate(600px, 150px);
    }
    100% {
      -webkit-transform: translate(2100px, 200px);
              transform: translate(2100px, 200px);
    }
  }
  
  .airplane{
    -webkit-animation: flight 10s linear infinite normal;
            animation: flight 10s linear infinite normal;
  
  }
  
  /* ******** WORK PAGE ********** */
  
  .project-section{
    margin-bottom: 50px;
  }
  
  .project-section h1{
    text-align: center;
  }
  
  .project-list{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 50px;
    text-align: left;
  }
  
  .project__item {
    background-color: #d3d3d3;
    padding: 0 15px 15px;
  }
  
  .project__item:last-child {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 0;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }
  
  
  /* ******** CONTACT PAGE ********** */
  
  .contacts-holder{
    margin-bottom: 30px;
  }
  
  .contact-form{
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contact-form label{
    display: block;
    text-align: left;
  }
  
  .contact-form input{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .contact-form textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  
  /* ******** REGISTRATION PAGE ********** */
  
  
  .registration-form{
    text-align: left;
  }
  
  
  /* ******** FOOTER ********** */
  
  .page_footer{
    text-align: center;
  }
  
  .social-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .social-list li{
    list-style: none;
    padding: 0 10px;
  }
  
  .social-list a{
    -webkit-transition:  0.5s opacity;
    transition:  0.5s opacity;
  }
  
  .social-list a:hover, 
  .social-list a:focus{
    opacity: 0.8;
  }
  
  /* ******** MEDIA QUERIES ********** */
  
  @media all and (max-width: 500px) {
    /* General styles */
    body{
      line-height: 1.5;
    }
    button{
      padding: 7px 15px;
    }
    .button{
      padding: 7px 15px;
    }
  
    /* Header */
    .page-header{
      padding: 10px;
      margin-bottom: 30px;
    }
    /* Burger menu */
    .menuToggle,
    .menu-opener{
      display: block;
    }
  
    .nav{
      position: absolute;
      width: 100%;
      top: 100%;
      left: 0;
    }
  
    .nav-list{
      width: 100%;
      background: #fff;
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      -webkit-transform: translate(-100%, 0);
              transform: translate(-100%, 0); 
      -webkit-transition: -webkit-transform 0.5s linear; 
      transition: -webkit-transform 0.5s linear; 
      transition: transform 0.5s linear; 
      transition: transform 0.5s linear, -webkit-transform 0.5s linear;
      text-align: center;
      z-index: 0;
    }
    
    .nav-list li{
      display: block;
      margin: 0;
      border-bottom: 1px solid #357b70;
    }
  
    .nav-list li:last-child{
      border-bottom: none;
    }
  
    .nav-list li a{
      display: block;
      padding: 7px;
    }
  
    .nav-list li a:hover{
      background: #357b70;
      color: #fff;
    }
  
    .nav-list li a:after{
      display: none;
    }
  
    /* Home page main content */
    .profile-holder{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
    }
  
    .img-holder {
      margin: 0 auto;
    }
  
    .text-holder{
      text-align: center;
    }
  
    /* Work page */
    .project-list {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  
  
  @media all and (min-width: 500px) and (max-width: 750px){
    /* Home page main content */
    .img-holder {
      width: 200px;
    }
    /* Work page */
    .project-list {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  
  }
  
  @media all and (max-width: 750px){
    /* General styles */
    h1 {
      font-size: 24px;
    }
    h2{
      font-size: 20px;
    }
    /* Header */
    .page-header__item:first-child {
      width: 170px;
    }
    /* Work page */
    .project-list {
      grid-gap: 10px;
    }
    .project__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
  }